@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
/*font-familys*/
    $font-family: 'Karla', sans-serif;
/*Colors*/
    /*Primary*/
        $color-p-Cyan: hsl(179, 62%, 43%);
        $color-p-light-Cyan: hsla(179, 47%, 52%, 1);
        ;
        $color-p-Bright-Yellow: hsl(71, 73%, 54%);
    /*Neutral*/
        $color-n-Light-Gray: hsl(204, 43%, 93%);
        $color-n-Grayish-Blue: hsl(218, 22%, 67%);
        $color-n-White: hsl(0, 0%, 100%);
/*initial configuration*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: $color-n-Light-Gray;
    padding-inline: 1.6rem;

    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
}

.container{
    width: 20rem;
    height: auto;
    background: $color-n-Light-Gray;
    /*grid config*/
    display: grid;
    grid-template:
        "top-full" 16.8rem
        "bottom-left" 14.2rem
        "bottom-right"  14.2rem;
    box-shadow: 0px 0px 1rem rgba(0, 0, 0, 0.19);
    border-radius: 0.5rem;
    overflow: hidden;
    margin-block: 1rem;

        .top{
            grid-area: top-full;            
        }
        .bottom-left{
            grid-area: bottom-left;            
        }
        .bottom-right{
            grid-area: bottom-right;            
        }
        .container_text1{
            width: 100%;
            height: 100%;
            padding: 2rem 1.6rem;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            background: $color-n-White;

            h1{
                font: 700 1.3rem $font-family;
                color: $color-p-Cyan;
            }
            h2{
                font: 700 1rem $font-family;
                color: $color-p-Bright-Yellow;
            }
            p{
                font: 400 0.85rem $font-family;
                color: $color-n-Grayish-Blue;
                line-height: 1.6rem;
            }
        }
        .container_price{
            width: 100%;
            height: 100%;
            padding: 1.6rem;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            background: $color-p-Cyan;

            h2{
                font: 700 1.1rem $font-family;
                color: $color-n-Light-Gray;
                margin-bottom: 0.5rem;
            }
            p{ 
                display: flex;
                align-items: center;
                span{
                    font: 700 1.9rem $font-family;
                    color: $color-n-Light-Gray;
                    margin-right: 1rem;
                }
                font: 400 0.9rem $font-family;
                color: $color-n-Light-Gray;
            }
            h3{
                font: 400 1rem $font-family;
                color: $color-n-Light-Gray;
            }
            a{
                width: 100%;
                height: 3rem;
                background: $color-p-Bright-Yellow;
                border-radius: 0.3rem;
                box-shadow: 0px 10px 1rem rgba(0, 0, 0, 0.20);
                display: flex;
                align-items: center;
                justify-content: center;
                font: 700 1rem $font-family;
                color: $color-n-White;
                margin-top: 1.2rem;

            }
        }
        .container_text2{
            width: 100%;
            height: 100%;
            padding: 1.6rem;
            padding-right: 30%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            background: $color-p-light-Cyan;

            h2{
                font: 700 1rem $font-family;
                color: $color-n-Light-Gray;
                margin-bottom: 1rem;
            }
            p{
                font: 400 0.8rem $font-family;
                color: $color-n-Light-Gray;
            }

        }
}

@media only screen and (min-width: 62.5rem) {
    .container{
        width: 39.75rem;
        grid-template:
        "top-full top-full" 13.5rem
        "bottom-left bottom-right" 16rem / 1fr 1fr;

        .container_price{
            a:active{
                transform: scale(0.95);
                box-shadow: 0px 10px 1rem -0.4rem rgba(0, 0, 0, 0.20);
            }
        }
    }
}

